.first-div {
  margin-top: 2.5em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-align: left;
  font-weight: bold;
  color: white;
}

.second-div {
  margin-top: 2.5em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.third-div {
  margin-top: 1em;
}

.button1 {
  width: 123px;
  height: 42px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}


.button2 {
  width: 153px;
  height: 42px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.nav-pills .nav-link.active {
  background-color: #E87121!important;
}

.nav-pills  .nav-link {
  border-radius: 20px;
  margin-right: 10px;
}
