
.second-card {
  height: 200px;
  margin: 10px;
  background: linear-gradient(134.17deg, rgba(63, 72, 80, 0.6) 4.98%, rgba(54, 62, 70, 0.6) 94.88%);
  box-shadow: -5px -5px 20px rgba(72, 83, 92, 0.35), 13px 14px 12px -6px rgba(35, 40, 45, 0.7);
  border-radius: 20px;
}

.text1 {
  color: white;
  font-weight: 400;
  font-size: 32px !important;
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  font-family: 'Marcellus', serif;

}

.text2 {
  line-height: 30px;
  align-items: bottom;
  text-align: center;
  margin-bottom: 40px;
  font-size: 26px;
  position: relative;
  top: 14px;
  font-family: 'Marcellus', serif;

}

.text3 {
  font-weight: 500;
  font-size: 28px!important;
  line-height: 51px;
  color: #8E98A2;
  font-family: 'Marcellus', serif;

}

.logo1 {
  width: 250px;
  height: 108px;
  object-fit: cover;
  margin-top: 110px !important;

}

.avatar1 {
  width: 175px;
  height: 175px;
  margin-top: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.lines2 {
  width: 338px;
  height: 6.67px;
}

.payment-container {
  width: 100vw;
  height: 100vh;
}
