.second-card {
  margin: 10px;
  background: linear-gradient(134.17deg, rgba(63, 72, 80, 0.6) 4.98%, rgba(54, 62, 70, 0.6) 94.88%);
  box-shadow: -5px -5px 20px rgba(72, 83, 92, 0.35), 13px 14px 12px -6px rgba(35, 40, 45, 0.7);
  border-radius: 20px;
}

.text1 {
  color: #8E98A2;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  align-items: center;
  text-align: center;
}

.text2 {
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 30px;
}

.text3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  color: #8E98A2
}

.logo1 {
  width: 250px;
  height: 250px;
}

.avatar1 {
  width: 175px;
  height: 175px;
  margin-top: 30px;
  border-radius: 100px;
}

.lines2 {
  width: 338px;
  height: 6.67px;
}
