h2 {
  color: white !important;
  font-family: 'Marcellus', serif;
  font-size: 30px !important;
  font-weight: bold !important;
}

.date {
  color: #8E98A1;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.first-div1 {
  align-items: center !important;
  text-align: center !important;
  margin-top: -50px !important;
}

.checkbox1 {
  width: 29px;
  height: 28px;
  left: 95px;
  background: linear-gradient(134.17deg, #3F4850 4.98%, #363E46 94.88%);
  box-shadow: -5px -5px 20px rgba(72, 83, 92, 0.35);
  border-radius: 10px !important;
  border-color: #363E46;
}

p {
  margin-left: 5px;
  line-height: 32px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.text1 {
  color: white;
}
