// Specific CSS for your restaurants_new-page

body {
  min-height: 100vh;
  background-image: url("BG.png");
  background-size: 100% 100vh;
}

.first-div {
  margin-top: 2.5em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  text-align: left;
  font-weight: bold;
}

.second-div {
  margin-top: 2.5em;
}

h2 {
  color: white;
}
