<div class="card-1 search-card">
  <%= form_with url: restaurant_team_members_path, method: :get, html: {data: {search_team_members_target: "form"}} do |f| %>
      <%= f.text_field :query,
                      class: "form-control form-style search-form",
                      placeholder: "Who made you smile?",
                      value: params[:query],
                      data: {
                        search_team_members_target: "input",
                        action: "keyup->search-team-members#update"
                      } %>
  <% end %>
</div>
