<div>
  <div>
    <%= image_tag('logo.svg', alt: 'Tip-Me logo', class: 'logo')%>
  </div>
  <div class="main-block" data-controller="search-team-members">
    <%= render 'form' %>
    <div class="card-1 list-card" data-search-team-members-target="list">
      <%= render 'list', team_members: @team_members %>
    </div>
  </div>
</div>
