<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("tipme-3.png", class: "navbar-logo", :alt => "tipme logo") %>
    <% end %>

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= image_tag("Avatar.png", size: "45x45", class: "layout-drop dropdown-toggle", :alt => "menu logo", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          </li>
      </ul>
    </div>
  </div>
</div>
