<div>
  <div>
    <%= image_tag('logo.svg', alt: 'Tip-Me logo', class: 'logo')%>
  </div>
</div>

<div style="margin-top: -100px">
  <div class="d-flex justify-content-center">
    <h2>Scan the QR code</h2>
  </div>
</div>

<div class="card-1 QR-card" style="margin-top: 20px">
  <div class="d-flex justify-content-center">
    <%= image_tag('qr-code.png', alt: 'Tip-Me logo', class: 'qr-code')%>
  </div>
  <div class="d-flex justify-content-center">
    <h3>Scanning Code ...</h3>
  </div>
  <div class="d-flex justify-content-center">
    <%= image_tag('small-icons.png', alt: 'small icons', class: 'icons')%>
  </div>
  <div class="d-flex justify-content-center" style="line-height: 58px">
    <%= link_to "Confirm", restaurant_team_members_path(Restaurant.first), label: false, class: "btn2" %>
  </div>
</div>
