<div class="bg-01">

  <!-- Section: Design Block -->
  <section class="text-center">
    <!-- Background image -->

    <!-- Background image -->
    <div class="first-div">
      <h2>Let's create a<br>New Restaurant 🍺</h2>
    </div>
    <div class="first-div">
    </div>
      <div class="card mx-4 mx-md-5 shadow-5-strong" style="background-color: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
        <div class="card-body py-5 px-md-5">

          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h2 class="fw-bold mb-5">New Restaurant</h2>

              <form class="troll">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline troll">
                    <p>Hello me</p>
                    </div>
                  </div>
                </div>

                <!-- Larger/higher input -->
                <div class="form-outline mb-4 troll">
                  <p>Hello me</p>
                </div>
                <div class="form-actions">
                    <p>Hello me</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <button type="button" style="background-image: url('button1.png');">Dashboard</button>
      </div>
  </section>
  <!-- Section: Design Block -->
</div>
