@import "components/logo";
@import "components/team_member_card";
@import "components/form-card";
@import "components/avatar";

.main-block {
  min-height: 65vh;
  margin-top: -4.5em;
}

.search-card {
  margin-bottom: 1em;
  padding: 0.8em 0;
}

.list-card {
  min-height: 60vh;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
