@import "components/logo";
@import "components/team_member_card";
@import "components/form-card";
@import "components/avatar";

.main-block {
  min-height: 65vh;
  margin-top: -4.5em;
}

.search-card {
  margin-bottom: 1em;
  padding: 0.8em 0;
}

.list-card {
  min-height: 60vh;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.card-2 {
  margin-top: 2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3px);
  margin-left: 0.8em;
  margin-right: 0.8em;
}
