.card-2 {
  margin-top: 2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3px);
}

a {
  color: orange!important;
  font-size: 13px!important;
}

p {
  font-size: 18px!important;
}
