// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "star-rating.js/dist/star-rating.css";
@import "team_members/index";

.card-1 {
  margin-left: 0.8em;
  margin-right: 0.8em;
  background: linear-gradient(134.17deg, rgba(63, 72, 80, 0.6) 4.98%, rgba(54, 62, 70, 0.6) 94.88%);
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

button {
  width: 123px;
  height: 42px;
  background: linear-gradient(138.86deg, rgba(232, 113, 33, 0.6) 9.16%, rgba(54, 62, 70, 0.6) 197.3%);
  border-radius: 20px;
  margin-top: 1em;
  border: 1px solid;
  border-image-source: linear-gradient(135.83deg, #E87121 22.24%, #242B31 85.59%);
  box-shadow: 3px 3px 6px 0px #04040449 inset;
  color: white;
}

.form-style {
  margin-left: 3%;
  width: 93%;
  height: 51px;
  background: linear-gradient(134.17deg, #3F4850 4.98%, #363E46 94.88%);
  box-shadow: -5px -5px 20px rgba(72, 83, 92, 0.35), 13px 14px 12px -6px rgba(35, 40, 45, 0.7), 4px 4px 8px 0px #00000040 inset;
  border-radius: 18px;
  border: 1px solid;
  border-image-source: linear-gradient(135.83deg, #5d666d17 22.24%, #242b311f 85.59%);
}

.btn1 {
  width: 123px;
  height: 42px;
  background: linear-gradient(138.86deg, rgba(232, 113, 33, 0.6) 9.16%, rgba(54, 62, 70, 0.6) 197.3%);
  border-radius: 20px;
  margin-top: 1em;
  box-shadow: 3px 3px 6px 0px #04040449 inset;
  color: white;
}

.btn2 {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 319px;
  height: 58px;
  border-radius: 8px;
  background: #E87121;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-style: bold;
}
